altair
attrs
blinker
cachetools
certifi
cffi
click
colorama
cryptography
docopt
fastexcel
GitPython
greenlet
Jinja2
jsonschema
markdown-it-py
msoffcrypto-tool
mysqlclient
narwhals
numpy
openpyxl
packaging
pandas
pillow
pipreqs
polars
protobuf
pyarrow
pydeck
python-dotenv
pytz
pywin32
referencing
requests
rich
rpds-py
SQLAlchemy
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
watchdog
XlsxWriter
yarg
python-calamine
